.potato{
    position: absolute;
    width: 104px;
    height: 90px;
    top: 0px;
    float: left;
    padding-left: 15%;
}

/* Taskbar End */


#shoulder{
    margin-top: 120px;
    margin-left: 134px;
    margin-right: 80px;
    font-family: Verdana;
    font-size: 20px;
    font-weight: 900;
}

.vals{
    /*margin-left: 77px;*/
    width: auto;
    font-family: Verdana;
    font-size: 15px;
    text-align: center;
    background-color: rgb(146, 146, 242);
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 40;
    padding-top: 5px;
    padding-bottom: 5px;
    border: solid;
    border-width: 2px;
}

.shoulderPress{
    margin-left: 105px;
    margin-right: 525px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Verdana;
    font-size: 15px;
    background-color: rgb(214, 214, 223);
    text-indent: 5px;
    color: black;
    border: solid;
    border-width: 2px;
    border-color: black;
}

.exercise{
    margin-left: 0px;
    margin-right: 100px;
}


.num{
    margin-right: 38px;
    width: 30px;
    border-radius: 100px;
}

#newE{
    text-align: center;
    margin-left: 125px;
    margin-right: 525px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Verdana;
    font-size: 15px;
    background-color: rgb(146, 146, 242);
    text-indent: 5px;
    color: white;
    border-radius: 20px;
}
#newEx{
    text-align: center;
    text-decoration:none;
    font-family: Verdana;
    font-size: 15px;
    background-color: rgb(146, 146, 242);
    text-indent: 5px;
    color: white;
    border-radius: 20px;
}

#name{
    width:120px;
    margin-right: 77px;
    border-radius: 30px;
    text-align: center;
}

#reps{
    width:50px;
    margin-right: 25px;
    border-radius: 30px;
    text-align: center;
}

#weight{
    width:50px;
    margin-right: 25px;
    border-radius: 30px;
    text-align: center;
}

#sets{
    width:50px;
    margin-right: 0px;
    border-radius: 30px;
    text-align: center;
}

.butt{
    width: 50px; 
    margin-left: 175px;
    background-color: rgb(214, 214, 223);
}

.entered{
    color: brown;
}

li {
    display: inline-block;
    margin: 0 10px;
  }