.potato{
    position: absolute;
    width: 104px;
    height: 90px;
    top: 0px;
    float: left;
    padding-left: 15%;
}

/* Taskbar End */


#shoulder{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 9%;
    font-family: Verdana;
    font-size: 20px;
    font-weight: 900;
}

.vals{
    /*margin-left: 77px;*/
    width: auto;
    font-family: Verdana;
    font-size: 15px;
    text-align: center;
    background-color: rgb(146, 146, 242);
    color: white;
    padding-right: 1.6%;
    padding-left: 1.6%;
    margin-right: 1%;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    border: solid;
    border-width: 2px;
}

.shoulderPress{
    margin-left: 9%;
    margin-right: 41%;
    padding-top: 0.7%;
    padding-bottom: 0.7%;
    font-family: Verdana;
    font-size: 15px;
    background-color: rgb(214, 214, 223);
    color: black;
    border: solid;
    border-width: 2px;
    border-color: black;
}

.exercise{
    margin-right: 22%;
}


#newE{
    text-align: center;
    margin-left: 9%;
    margin-right: 41%;
    padding-top: 0.7%;
    padding-bottom: 0.7%;
    font-family: Verdana;
    font-size: 15px;
    background-color: rgb(146, 146, 242);
    color: white;
    border-radius: 20px;
}
#newEx{
    text-align: center;
    text-decoration:none;
    font-family: Verdana;
    font-size: 15px;
    background-color: rgb(146, 146, 242);
    color: white;
    border-radius: 20px;
}

#name{
    width:105px;
    margin-right: 105px;
    border-radius: 30px;
    text-align: center;
}

#reps{
    width:50px;
    margin-right: 25px;
    border-radius: 30px;
    text-align: center;
}

#weight{
    width:50px;
    margin-right: 25px;
    border-radius: 30px;
    text-align: center;
}

#sets{
    width:50px;
    margin-right: 0px;
    border-radius: 30px;
    text-align: center;
}

.butt{
    width: 50px; 
    margin-left: 175px;
    background-color: rgb(214, 214, 223);
}

.entered{
    color: brown;
}

li {
    display: inline-block;
    margin: 0 10px;
  }