p{
    margin-left: 40 px
}
body {
    font-family: Arial, sans-serif;
    text-align: left;
}
.bench_press {
    margin-top: 100px;
    display: inline-block;
    color: #241616;
    text-decoration: none;
    width: 300px;
    height: 200px;
    margin-left: -10px;
}


.incline_bench{
    margin-top: 0px;
    display: inline-block;
    color: #241616;
    text-decoration: none;
    width: 300px;
    height: 200px;
    margin-left: -10px;
}


