p{
    margin-left: 40 px
}
body {
    font-family: Arial, sans-serif;
    text-align: left;
}
.bench_press {
    position: absolute;
    top: 100px;
    left: 75px;
    display: inline-block;
    color: #241616;
    text-decoration: none;
    width: 350px;
    height: 250px;
    margin-left: -10px;
}


.incline_bench{
    position: absolute;
    top: 100px;
    left: 450px;
    margin-top: 0px;
    display: inline-block;
    color: #241616;
    text-decoration: none;
    width: 350px;
    height: 250px;
    margin-left: -10px;
}
.dumbbell_press{
    position: absolute;
    top: 100px;
    left: 875px;
    margin-top: 0px;
    display: inline-block;
    color: #241616;
    text-decoration: none;
    width: 350px;
    height: 250px;
    margin-left: -10px; 
}
.lateral_raise{
    position: absolute;
    top: 450px;
    left: 75px;
    margin-top: 0px;
    display: inline-block;
    color: #241616;
    text-decoration: none;
    width: 350px;
    height: 250px;
    margin-left: -10px; 
}
.overhead_extension{
    position: absolute;
    top: 450px;
    left: 450px;
    margin-top: 0px;
    display: inline-block;
    color: #241616;
    text-decoration: none;
    width: 350px;
    height: 250px;
    margin-left: -10px; 
}
.pullups{
    position: absolute;
    top: 450px;
    left: 875px;
    margin-top: 0px;
    display: inline-block;
    color: #241616;
    text-decoration: none;
    width: 350px;
    height: 250px;
    margin-left: -10px; 
}



 


