p{
    margin-left: 40 px
}
body {
    font-family: Arial, sans-serif;
    text-align: left;
}
.bench_press {
    position: absolute;
    top: 100px;
    left: 75px;
    display: inline-block;
    color: #241616;
    text-decoration: none;
    width: 350px;
    height: 250px;
    margin-left: -10px;
}


.incline_bench{
    position: absolute;
    top: 100px;
    left: 450px;
    margin-top: 0px;
    display: inline-block;
    color: #241616;
    text-decoration: none;
    width: 350px;
    height: 250px;
    margin-left: -10px;
}
.dumbbell_press{
    position: absolute;
    top: 100px;
    left: 875px;
    margin-top: 0px;
    display: inline-block;
    color: #241616;
    text-decoration: none;
    width: 350px;
    height: 250px;
    margin-left: -10px; 
}
.lateral_raise{
    position: absolute;
    top: 450px;
    left: 75px;
    margin-top: 0px;
    display: inline-block;
    color: #241616;
    text-decoration: none;
    width: 350px;
    height: 250px;
    margin-left: -10px; 
}
.overhead_extension{
    position: absolute;
    top: 450px;
    left: 450px;
    margin-top: 0px;
    display: inline-block;
    color: #241616;
    text-decoration: none;
    width: 350px;
    height: 250px;
    margin-left: -10px; 
}
.pullups{
    position: absolute;
    top: 450px;
    left: 875px;
    margin-top: 0px;
    display: inline-block;
    color: #241616;
    text-decoration: none;
    width: 350px;
    height: 250px;
    margin-left: -10px; 
}
.front_squat{
    position: absolute;
    top: 800px;
    left: 75px;
    margin-top: 0px;
    display: inline-block;
    color: #241616;
    text-decoration: none;
    width: 350px;
    height: 250px;
    margin-left: -10px; 
}
.hamstring{
    position: absolute;
    top: 800px;
    left: 450px;
    margin-top: 0px;
    display: inline-block;
    color: #241616;
    text-decoration: none;
    width: 350px;
    height: 250px;
    margin-left: -10px; 
}
.deadlift{
    position: absolute;
    top: 800px;
    left: 875px;
    margin-top: 0px;
    display: inline-block;
    color: #241616;
    text-decoration: none;
    width: 350px;
    height: 250px;
    margin-left: -10px; 
}
.benchpresstext{
    position: absolute;
    top: 360px;
    left: 85px;
    font-size: 17px;
    font-weight: bold;
    

}
.inclinebenchtext{
    position: absolute;
    top: 360px;
    left: 440px;
    font-size: 17px;
    font-weight: bold;
}
.dumbellpresstext{
    position: absolute;
    top: 360px;
    left: 870px;
    font-size: 17px;
    font-weight: bold;
}
.lateralraisetext{
    position: absolute;
    top: 715px;
    left: 85px;
    font-size: 17px;
    font-weight: bold;
}
.overheadextensiontext{
    position: absolute;
    top: 715px;
    left: 445px;
    font-size: 17px;
    font-weight: bold;
}
.pullupstext{
    position: absolute;
    top: 715px;
    left: 920px;
    font-size: 17px;
    font-weight: bold;
}
.squattext{
    position: absolute;
    top: 1070px;
    left: 120px;
    font-size: 17px;
    font-weight: bold;
}
.hamstringtext{
    position: absolute;
    top: 1070px;
    left: 460px;
    font-size: 17px;
    font-weight: bold;
}
.deadlifttext{
    position: absolute;
    top: 1070px;
    left: 920px;
    font-size: 17px;
    font-weight: bold;
}





 


